header {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 4%;

}
header .newspapername{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}
.sub-header{
    background-color: black;
    color: whitesmoke;
    padding: 2%;
    text-align: center;
}
.sub-header h2{
    padding: 0.5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.sub-header h3{
    padding: 0.5%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: center;
}
form .gap{
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 40%;
}
form h4{
    padding: 1%;
    text-decoration: underline;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
form input{
    margin: 1%;
    width: 250px;
    height: 25px;
}
form label{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.Submit-button{
    align-self: center;
    width: 100%;
    text-align: center;
    padding: 0.5%;
    background-color: lightgray;
}
.Submit-button button{
    border: none;
    padding: 1%;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.Submit-button button:hover{
    background-color: grey;
    color: black;
}
footer{
    text-align: center;
    padding: 10%;
    background-color: black;
    color: whitesmoke;
    font-size: 0.8em;
}
@media (max-width: 900px){
    form{
        justify-content: center;
    }
    form .gap{
        width: 100%;
    }
}